*{
    margin:0;
	padding:0;
	box-sizing:border-box;
    font-family:Arial;
}
html{ 
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #FFF7F5;
}
.container{
    width: 1290px;
    margin:auto; 
}