@mixin h4 {
  h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #EE4D47;
    text-transform: uppercase;
  }
}

@mixin h2 {
  h2{
    padding-top: 50px;
    font-weight: 700;
    font-size: 48px;
    line-height: 67.2px;
    color: #402B2B;
    font-style: normal;
    font-family: "Helvetica Neue Greek Bold", serif;
  }
}

@mixin btn {
  .btn{
    width: 220px;
    height: 60px;
    display: grid;
    grid-template-columns: 70% 20%;
    background-color: #EE4D47;
    color:#fff;
    text-align: left;
    padding-top: 20px;
    padding-left: 17px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.7s;
    cursor: pointer;

    &:hover span{
        transform: rotate(360deg);
        transition: 0.7s;
    }

    &:hover{
        background-color: #b31712d0;
    }

    a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 18.96px;
        text-decoration: none;
        color:#fff;
        letter-spacing: 2px;
    }

    span{
        width: 29.5px;
        height: 12.36px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url(/imgs/Union.png);
        background-size: cover;

        &:hover{
            transform: rotate(360deg);
            transition: 1s;
        }
    }
}
}

@mixin grid-text-content {
  .content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding:10px;

    .text{
        width: 100%;
        display: inline-block;
        height: 500px;
        background-color: none;
        padding:50px;

        @include h4;

        p{
            padding-top: 50px;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            color: #402B2B;
            line-height: 40px; 
        }

        .ask{
            margin-top: 60px;
            width: 500px;
            height: 160px;
            display: flex;
            background-color: #FCDDD4;
            border-radius: 4px;
            border-left: 10px solid #ED4D47; 

            p{
                padding: 20px;
            font-size: 24px;
            font-style: normal;
            font-weight: bold;
            color: #402B2B;
            line-height: 36px;
            }
        }
    }

    .pic{
        width: 95%;
        display: inline;
        height: 480px;
        background-color: none;
        position: relative; 

        img{
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
  }
}



@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
  }

  @mixin translate_center($left, $right){
    top:$left;
   
    left:$right;
    -webkit-transform : translate(-50%, -50%);
    -moz-transform    : translate(-50%, -50%);
    -ms-transform     : translate(-50%, -50%);
    -o-transform      : translate(-50%, -50%);
    transform         : translate(-50%, -50%);
  }
  @mixin csstransition($sec, $transition){
    -webkit-transition: all $sec $transition;
    -moz-transition: all $sec $transition;
    -o-transition: all $sec $transition;
    -ms-transition: all $sec $transition;
    transition: all $sec $transition;
  }
  
  @mixin textstyle{
    color: $light-black;
    font-size: 16px;
    font-family: "Helvetica Neue Greek Light", serif;
    strong {
      font-family: "Helvetica Neue Greek Bold", serif;
      font-weight: normal;
    }
    a{
      font-family: "Helvetica Neue Greek", serif
    }
    p{
      margin-bottom: 0px;
    }
  }