.about-us{
    width: 100%;
    display: flex;
    padding-top: 9%;

    @include grid-text-content;
    
            span{
                position: absolute;
                top: 27%;
                right: 54%;
                width: 20px;
                height: 20px;
                background-image: url(/imgs/pen.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: bottom right;
                z-index: 8;

                animation-name: pen;
                animation-duration: 2s; 
                animation-delay: 0.2s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-fill-mode: none;
            }
}