.footer{
    width: 100%;
    display: flex;
    position: relative;
    height: auto;
    margin-top: 5%;

    .footer-bgc{
        position: absolute;
        top: 25%; 
        left: 0px;
        width: 80%;
        background-color: transparent;
        height: 620px;
        background-image: url(/imgs/footer-bgc.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: -1;
    } 

    .trangle-footer{
        position: absolute;
        left: 0;
        width: 800px;
        min-height: 500px;
        background-image: url(/imgs/footer-z.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        top: 25%;

        @media (max-width: 802px) {
            width: 100%;
        }

        @media (max-width: 578px) {
            display: none;
        }
    }

    .footer-content{
        width: 100%;
        display: inline-block;
        height: auto; 
        padding-bottom: 4em;

        .footer-car{
            width: 350px;
            background-size: contain;
            left: 0;
            position: absolute;
            background-color: transparent;
            background-repeat: no-repeat;
            background-image: url(/imgs/trekmobil.png);
            height: 400px;

            animation-name: footer-car;
            animation-duration: 0.8s;
            animation-delay: 0.2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-fill-mode: none;

            @keyframes footer-car {
                0%{
                    top:-4%;
                } 
                50%{
                    top:-5%;
                }
                75%{
                    top:-4%;;
                }
                100%{
                    top:-3%;
                }  
            }
        } 

        .contact-us{
            width: 100%;
            height: auto;
            background-color:none;
            display: grid;
            grid-template-columns: 40% 40%;
            padding-top: 100px;

            

            @media (max-width: 903px) {
                grid-template-columns: 1fr;
                padding: 3em;
            }

            @media (max-width: 578px) {
                padding: 0;
            }

            .ask{ 
                width: 100%;
                height: 400px;
                display: inline-block;
                text-align: left;
                padding:50px;
                padding-top: 40%;

                @media (max-width: 903px) {
                    padding-top: 35%;
                }

                @media (max-width: 491px) {
                    padding: 15em 0em 1em 1em;
                }

                .text{  
                    width: 350px;
                    height: 140px;
                    padding:20px;
                    border-left: 10px solid #ed4d47;
                    color: #fff;
                }
            }
            .input-form{
                display: inline-block;
                padding: 50px;
                padding-top: 10%;
                background-color: #fff;
                border-radius: 20px;
                width: 100%;
                height: 400px;
                align-items: center;
                justify-content: center;


                input{
                    width: 100%;
                    height: 60px;
                    padding: 10px;
                    outline: none;
                    border-radius: 0.5em;
                    border: 0.01em solid #333;
                    margin-bottom: 1.3em;
                }

                p{
                    padding-bottom: 1em;
                }

                .name{
                    width: 100%;
                    display: inline-block;
                    padding-top: 20px;
                    
                }

                .email{
                    width: 100%;
                    display: inline-block;
                }

                @include btn;
            }
        }
    }
}