header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
}

header .header-content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 70%;
      grid-template-columns: 20% 70%;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  height: 125px;
  padding-top: 30px;
  padding-bottom: 25px;
}

header .header-content .logo {
  width: 100%;
  padding: 10px;
  display: inline-block;
}

header .header-content .logo img {
  background-repeat: no-repeat;
  background-size: contain;
}

header .header-content ul {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  list-style: none;
  background-color: transparent;
  padding-left: 24%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

header .header-content ul li {
  width: 150px;
  list-style: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.96px;
  vertical-align: middle;
  padding-top: 30px;
}

header .header-content ul li a {
  text-decoration: none;
  padding: 20px;
  color: #fff;
}

header .header-content ul li a:hover {
  width: 158px;
  height: 60.05;
  background-color: #EE4D47;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

header .header-content ul li .hov {
  width: 158px;
  height: 60.05;
  background-color: #EE4D47;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scene {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 798px;
  position: relative;
  background-color: transparent;
  z-index: 800;
}

.scene .bg-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  background-color: transparent;
  height: 620px;
  background-image: url(/imgs/bgc.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.scene .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  background-color: transparent;
  height: 620px;
  background-image: url(/imgs/mask-group.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.scene .mask:after {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 89%;
  left: 0%;
  content: "";
  z-index: 5;
  background: url(/imgs/mobel.png) bottom left no-repeat;
  background-repeat: no-repeat;
  background-size: 70%;
  -webkit-animation-name: car;
          animation-name: car;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes car {
  0% {
    top: 89%;
  }
  50% {
    top: 91%;
  }
  75% {
    top: 92%;
  }
  100% {
    top: 93%;
  }
}

@keyframes car {
  0% {
    top: 89%;
  }
  50% {
    top: 91%;
  }
  75% {
    top: 92%;
  }
  100% {
    top: 93%;
  }
}

.scene .human {
  position: absolute;
  top: 43%;
  right: 29%;
  width: 365px;
  height: 400px;
  background-color: transparent;
  background-image: url(/imgs/human.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

.scene .human .box {
  position: absolute;
  top: 13%;
  right: 34%;
  width: 100px;
  height: 100px;
  background-image: url(/imgs/box.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  z-index: 6;
  -webkit-animation-name: box;
          animation-name: box;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes box {
  0% {
    right: 34%;
  }
  2% {
    top: 13%;
  }
  13% {
    right: 32%;
    top: 11%;
  }
  25% {
    right: 30%;
    top: 10%;
  }
  50% {
    right: 28%;
    top: 9%;
  }
  75% {
    right: 25%;
    top: 9%;
  }
  100% {
    right: 20%;
  }
}

@keyframes box {
  0% {
    right: 34%;
  }
  2% {
    top: 13%;
  }
  13% {
    right: 32%;
    top: 11%;
  }
  25% {
    right: 30%;
    top: 10%;
  }
  50% {
    right: 28%;
    top: 9%;
  }
  75% {
    right: 25%;
    top: 9%;
  }
  100% {
    right: 20%;
  }
}

.scene .scene-content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  padding-bottom: 7%;
  padding-left: 10%;
}

.scene .scene-content .text {
  width: 100%;
  min-height: 420px;
  display: inline-block;
  background-color: transparent;
  z-index: 7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scene .scene-content .text h1 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #fff;
  line-height: normal;
  letter-spacing: 1.5px;
}

.scene .scene-content .text .btn {
  width: 220px;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 20%;
      grid-template-columns: 70% 20%;
  background-color: #EE4D47;
  color: #fff;
  text-align: left;
  padding-top: 25px;
  padding-left: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.scene .scene-content .text .btn:hover span {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.scene .scene-content .text .btn:hover {
  background-color: #b31712d0;
}

.scene .scene-content .text .btn a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 18.96px;
  text-decoration: none;
  color: #fff;
}

.scene .scene-content .text .btn span {
  width: 29.5px;
  height: 12.36px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/imgs/Union.png);
  background-size: cover;
  cursor: pointer;
}

.scene .scene-content .text .btn span:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.about-us {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9%;
}

.about-us .about-content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 10px;
}

.about-us .about-content .text {
  width: 100%;
  display: inline-block;
  height: 500px;
  background-color: none;
  padding: 50px;
}

.about-us .about-content .text h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #EE4D47;
}

.about-us .about-content .text p {
  padding-top: 50px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  color: #402B2B;
  line-height: 40px;
}

.about-us .about-content .text .ask {
  margin-top: 60px;
  width: 500px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FCDDD4;
  border-radius: 4px;
  border-left: 10px solid #ED4D47;
}

.about-us .about-content .text .ask p {
  padding: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  color: #402B2B;
  line-height: 36px;
}

.about-us .about-content .pic {
  width: 100%;
  display: inline;
  height: 500px;
  background-color: none;
  position: relative;
}

.about-us .about-content .pic span {
  position: absolute;
  top: 27%;
  right: 54%;
  width: 20px;
  height: 20px;
  background-image: url(/imgs/pen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  z-index: 8;
  -webkit-animation-name: pen;
          animation-name: pen;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.apply {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apply .content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 10px;
}

.apply .content .text {
  width: 100%;
  display: inline-block;
  height: 500px;
  background-color: none;
  padding: 50px;
}

.apply .content .text h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #EE4D47;
}

.apply .content .text p {
  padding-top: 50px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  color: #402B2B;
  line-height: 40px;
}

.apply .content .text .ask {
  margin-top: 60px;
  width: 500px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FCDDD4;
  border-radius: 4px;
  border-left: 10px solid #ED4D47;
}

.apply .content .text .ask p {
  padding: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  color: #402B2B;
  line-height: 36px;
}

.apply .content .pic {
  width: 100%;
  display: inline;
  height: 500px;
  background-color: none;
  position: relative;
}
/*# sourceMappingURL=blocks.css.map */